<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Invitation</title>
	<style type="text/css">
		body {
			background-color: #e9ac40;
		}
        h2 {
            font-size: 22px;
        }
        p {
            line-height: 150%;
            margin-top: 30px;
        }
		.container {
			width: 100%;
			max-width: 600px;
			background-color: #fff;
			color: #202020;
			font-family: Helvetica;
			font-size: 16px;
			margin: auto;
		}
        .content {
            padding: 18px;
        }
		img {
			display:block;
			width: 90%;
			height: auto;
			max-width: 339px;
		}
		.center {
			margin: 0 auto;
			text-align: center;
		}
		.button {
			background-color: #00aeff;
			color: #fff;
			font-weight: bolder;
			text-decoration: none;
			padding: 13px;
			border: none;
			border-radius: 8px;
			font-size: 16px;
		}
        .header,.footer {
            background: #FAFAFA;
            padding: 9px 0px;
        }
        .footer{
            border-top: solid 2px #eaeaea;
        }
		.link {
			text-decoration: underline;
			color: #007C89;
		}
	</style>
</head>
<body>
	<div class="container">
        <div class="header"></div>
		<div class="content">
            <img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
            <p>Hello! </p>
            <p>Your project, <a href="{{link}}">{{entity_name}}</a>, has just been added to CryptoCanary - a Yelp-like reviews site for the crypto world. </p>
            <p>You should ask your loyal community-members to join and write some reviews about your project!</p>
            <p>There are 2 big benefits:
                <ol>
                    <li>Other people can discover your project while browsing CryptoCanary.</li>
                    <li>You can expand your online reputation by having reviews on your project page. </li>
                </ol>
            </p>
            <p>Here's your project link for sharing: <a href="{{link}}">{{link}}</a></p>
            <p>Best, <br>
                Kevin (Founder of CryptoCanary)</p>
            <p>*This is a one-time invitation email. No need to unsubscribe since I won't send you another email unless you reply. :-) </p>
		</div>
        <div class="footer">
        </div>
	</div>
</body>
</html>
