<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Invitation</title>
	<style type="text/css">
		body {
			background-color: #e9ac40;
		}
        h2 {
            font-size: 22px;
        }
        p {
            line-height: 150%;
            margin-top: 30px;
        }
		.container {
			width: 100%;
			max-width: 600px;
			background-color: #fff;
			color: #202020;
			font-family: Helvetica;
			font-size: 16px;
			margin: auto;
		}
        .content {
            padding: 18px;
        }
		img {
			display:block;
			width: 90%;
			height: auto;
			max-width: 339px;
		}
		.center {
			margin: 0 auto;
			text-align: center;
		}
		.button {
			background-color: #00aeff;
			color: #fff;
			font-weight: bolder;
			text-decoration: none;
			padding: 13px;
			border: none;
			border-radius: 8px;
			font-size: 16px;
		}
        .header,.footer {
            background: #FAFAFA;
            padding: 9px 0px;
        }
        .footer{
            border-top: solid 2px #eaeaea;
        }
		.link {
			text-decoration: underline;
			color: #007C89;
		}
	</style>
</head>
<body>
	<div class="container">
        <div class="header"></div>
		<div class="content">
            <img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
            <p>Hello! </p>
            <p><a href="{{link}}">{{product_name}}</a> has just been added to CryptoCanary Discover.</p>
            <p>We're a website that helps retail users discover crypto products/services <u>that they can actually use.</u></p>
            <p>You should ask your community to join and write some reviews about <a href="{{link}}">{{product_name}}</a>!</p>
            <p>Why? There are <u><strong>2 big benefits</strong></u>:
                <ol>
                    <li>You'll get organic traffic from visitors browsing our site.</li>
                    <li>More reviews = more exposure for you. Top reviewed entries get blasted on our <a href="https://twitter.com/cryptocanaryapp">Twitter</a>, newsletter, and the <a href="https://cryptocanary.app/discover">front-page</a> of our website.  </li>
                </ol>
            </p>
            <p>Here's the link for easy sharing: <a href="{{link}}">{{link}}</a></p>
            <p>Best, <br>
                Kevin (Founder of CryptoCanary)</p>
            <p>*This is a one-time invitation email. No need to unsubscribe since I won't send you another email unless you reply. :-) </p>
		</div>
        <div class="footer">
        </div>
	</div>
</body>
</html>
