<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>First Review</title>
	<style type="text/css">body{background-color:#e9ac40;font-size:16px;}.container{width:100%;max-width:600px;background-color:#fff;color:#202020;font-family:Helvetica;margin:auto}.content{padding:20px}img{display:block;width:90%;height:auto;max-width:339px}.center{margin:0 auto;text-align:center}.button{background-color:#00aeff;color:#fff;text-decoration:none;padding:15px 25px;border-radius:8px}.p20{padding-top:20px;padding-bottom:20px}h2{font-size:22px}.header,.footer{background:#FAFAFA;padding:9px 0}.footer{border-top:solid 2px #eaeaea}p{line-height:150%;margin-top:20px}a{color:#007C89;}</style>
</head>
<body>
	<div class="container">
		<div class="header"></div>
		<div class="content">
			<img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
			<p>Sorry, your review for {{entity_name}} was just removed because it violated our <a href="https://cryptocanary.app/community-guidelines/">Community Guidelines.</a> </p>
			<p>We value your experience though! So please re-post your review after briefly editing or fixing it. </p>
			<p>Feel free to respond to this email if you have any questions! </p>
			<p>Best,<br>Kevin</p>
			<p>Canary Reviews LLC<br>
				4144 N 44th St Suite 6<br>
				Phoenix, AZ 85018 USA
			</p>
		</div>
		<div class="footer"></div>
	</div>
</body>
</html>
