html, body {
    padding: 0px; margin: 0px;
}

body {
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    /* user-select: none; */
}

.container {
    max-width: 1200px;
}

input, textarea, button {
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    padding: 0; margin: 0;
}

a {
    outline: none;
    color: #333;
}

button {
    border: solid 1px #1a1a1a;
    background: #fafafa;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
}

#header {
    padding: 10px 0px;
    border-bottom: solid 2px #E2A222;
}
#header .container {
    display: flex;
    align-items: center;
}
#header .container div {
    flex-grow: 1;
}
#header .container img {
    height: 35px;
}
#header .container button {
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 25px;
}

#nav {
    padding: 10px 0px;
}
.nav {
    display: flex;
}
.nav > div {
    flex-grow: 1;
    text-align: center;
}

#body > .container {
    padding: 20px;
    background: #fefefe;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #efefef;
}

#footer {
    padding-bottom: 50px;
}

table td img {
    height: 35px;
}

table th, table thead, table thead tr {
    border-bottom: solid 2px #888 !important;
    background: #e2f6ff;
}

table th a {
    color: inherit;
}

table tr:nth-child(even) {
    background: #fafafa;
}

table td {
    vertical-align: middle !important;
}

table td:first-child {
    width: 50px;
}
table td:nth-child(2) {
    width: 35px;
}
table td:last-child {
    width: 100px;
}

table td button {
    font-size: 10px;
    border: none; background: none;
}

/* login */
.login {
    margin: 0 auto;
    width: 40vw;
    height: 100vh;
}
.login > .content {
    border: solid 5px #1c2b6f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    background: #fff;
    margin-top: 15vh;
}
.login h3 {
    color: #555;
}
.login img[alt='logo'] {
    height: 50px;
}
.login button[type='submit'] {
    border-radius: 50px;
    font-weight: 700;
    padding: 5px 100px;
}

.login-error {
    position: fixed;
    width: 30vw;
    top: 5vh; left: 35vw;
    margin: 0 auto;
    background: #f5c6cb;
    font-weight: 700;
    border: solid 2px;
    color: #721c24;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .login {
        width: 100vw;
    }
    .login > .content {
        padding: 0 50px;
        height: 100vh;
        margin: 0px;
        border: none;
    }
    .login-error {
        width: 90vw;
        left: 5vw;
    }
}

/* */
.flex-container {
    display: flex;
}
.flex-container > .grow {
    flex-grow: 1;
}

.name {
    font-weight: 500;
}

.review-card {
    border: solid 1px #dadada;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.review-card > .review {
    color: #555;
    font-weight: lighter;
    font-size: 14px;
    cursor: text;
    user-select: text;
}
.review a {
    color: #000;
}
.card-head {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 10px;
}
.card-body {
    padding: 10px 0px;
}


/* search */
.search-group {
    align-items: center;
    background: #F3B333;
    border-radius: 30px;
    border: solid 1px #aaa;
    width: 25vw;
    min-width: 300px;
}
.search-group > input {
    width: 80%;
    height: 35px;
    border: none;
    text-indent: 15px;
    border-radius: 30px 0 0 30px;
}
.search-group > button {
    width: 20%;
    background: none;
    border: none;
    color: #483735;
    font-weight: 700;
    height: 35px;
    border-radius: 0 30px 30px 0;
    outline: none;
}

/* forms */
.add-form {
    border: solid 1px #eaeaea;
    border-radius: 5px;
    width: 50vw; min-width: 500px;
    margin: 0 auto;
    padding: 20px;

}


.status-msg {
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%; min-width: 500px;
    margin: 0 auto;
}


/* summary */
.summary-header {
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.summary-header .total {
    font-size: 32px;
}
.summary-header  .summary-details {
    margin: 10px auto 0 auto;
    width: 70%;
    
}


/* pagination */

.pages {
    margin: 25px auto;
}
.pages button {
    border: none;
    background: #00a2ee;
    color: #fff;
    font-weight: 700;
    margin: 0 2px;
    height: 35px; width: 35px;
}
.pages button:disabled {
    background: #bbb;
}

/* colors */
.bg-0 {
    background: #1c2b6f;
}
.bg-1 {
    background: #00a2ee;
}
.bg-2 {
    background: #00ee4c;
}
.bg-3 {
    background: #ee002b;
}
.bg-orange {
    background: #F3B333;
}
.bg-gray {
    background: #555;
}

.color-0 {
    color: #1c2b6f;
}
.color-1 {
    color: #00a2ee;
}
.color-2 {
    color: #00ee4c;
}
.color-3 {
    color: #ee002b;
}
.color-gray {
    color: #555;
}
.color-light-gray {
    color: #999;
}
.color-white {
    color: #fff;
}


/* status colors */
.ok {
    color: #555;
    font-weight: 500;
}
.pending {
    color: #55f;
    font-weight: 500;
}
.deleted {
    color: #f55;
    font-weight: 500;
}
.deleted-bg {
    background: #fff2f4;
}


/* rating colors */
.confidence-20 {
    color: #721c24;
}
.confidence-40 {
    color: #856404;
}
.confidence-60 {
    color: #0c5460;
}
.confidence-80 {
    color: #155724;
}
.confidence-100 {
    color: #155724;
}
.very_shady {
    color: #721c24;
    background: #f5c6cb;
}
.lean_shady {
    color: #856404;
    background: #ffeeba;
}
.neutral {
    color: #555;
    background: #bee5eb;
}
.lean_legit {
    color: #0c5460;
    background: #c3e6cb;
}
.very_legit {
    color: #155724;
    background: #c3e6cb;
}

/* icon buttons */
.check-btn::after {
    content: url('../assets/images/icons/check-btn.svg');
    cursor: pointer;
}
.x-btn::after {
    content: url('../assets/images/icons/remove-btn.svg');
    cursor: pointer;
}
.restore-btn::after {
    content: url('../assets/images/icons/restore-btn.svg');
    cursor: pointer;
}
.permanent-x-btn::after {
    content: url('../assets/images/icons/delete-btn.svg');
    cursor: pointer;
}
.pencil-btn::after {
    content: url('../assets/images/icons/pencil-btn.svg');
    cursor: pointer;
}


/* others */
.strong {
    font-weight: 600;
}


/* rateYo */
.jq-ry-container, .jq-ry-group-wrapper {
    display: inline-block !important;
}


/* widget */
.widget {
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 0 0 5px #00A2EE;
    transition: all 0.5s ease;
}
.widget:hover {
    box-shadow: none;
}

.widget button {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    text-transform: none;
}

.widget .menu-btn {
    background: #00A2EE;
    padding: 10px;
    color: #fafafa;
}

.widget .menu ul {
    list-style: none;
    margin: 0px; padding: 0px;
    border: solid 1px #00A2EE;
}


.widget .menu ul > li button {
    text-align: left;
    padding: 10px;
}

.widget .menu ul > li {
    background: #fafafa;
    transition: all 0.2s ease;
}
.widget .menu ul > li:hover {
    background: #D8E3F2;
    color: #fff;
}
